<div style="margin-bottom: 50px; margin-top: -10px; padding: 20px;"></div>
<div style="font-family: verdana; text-align: center">
	<h1>New Submission!</h1>
	<h3>"{{ SUBMISSION }}"</h3>
	<h5>Shall it be so?</h5>
	<div style="display: inline-block;">
		<a style="background-color:#4caf50;border:none;border-radius:50%;width: 75px; height: 75px; line-height: 75px; text-align:center;display:inline-block;font-size:20px;text-decoration:none;color:white" class="button tick" href="{{ YES_URL }}">Yes</a>
		<a style="background-color:red;border:none;border-radius:50%;width: 75px; height: 75px; line-height: 75px; text-align:center;display:inline-block;font-size:20px;text-decoration:none;color:white" class="button cross" href="{{ NO_URL }}">No</a>
	</div>
</div>